.hero-banner {
  height: 50vh;
  width: 99vw;
  margin: 0;
  position: relative;
  text-align: left;
}

.hero-banner img {
  z-index: -5;
}

.hero-banner .intro {
  position: absolute;
  z-index: 2;
  top: 25%;
  left: 10%;
}

.hero-banner .intro #welcome {
  margin: 0;
  padding: 0;
  color: #5214E6;
}

.hero-banner .intro #name {
  color: #4CC9F0;
  margin: 0;
  padding: 0;
}

.hero-banner .intro #developer {
  color: white;
  margin: 0;
  padding: 0;
}

.hero-banner .overlay {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.4))), -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2)));
  background: linear-gradient(to left bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

.hero-banner .background {
  height: 120%;
  width: 100%;
  position: absolute;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.hero-banner .background-rock {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 25%;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero-banner .background-man {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 20%;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero-banner .bottom-blur {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: grey;
  -webkit-filter: blur(30px);
          filter: blur(30px);
}

@media screen and (min-width: 992px) and (max-width: 1399px) {
  .hero-banner {
    height: 100vh;
    width: 99vw;
    margin: 0;
    padding: 0;
  }
  .hero-banner .intro {
    top: 25%;
    left: 20%;
    width: 40%;
  }
  .hero-banner .intro #welcome {
    margin: 0;
    padding: 0;
    color: #5214E6;
    font-size: 3em;
  }
  .hero-banner .intro #name {
    color: #4CC9F0;
    margin: 0;
    padding: 0;
    font-size: 2em;
  }
  .hero-banner .intro #developer {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
  }
  .hero-banner .background {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  .hero-banner .background-rock {
    height: 110%;
    width: 100%;
    position: absolute;
    left: 0;
    top: -5%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -o-object-fit: fill;
       object-fit: fill;
  }
  .hero-banner .background-man {
    height: 105%;
    width: 99%;
    position: absolute;
    left: 0;
    top: -5%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -o-object-fit: fill;
       object-fit: fill;
  }
}

@media screen and (min-width: 1400px) {
  .hero-banner {
    height: 100vh;
    width: 99vw;
    z-index: -5;
    position: relative;
  }
  .hero-banner .intro {
    position: absolute;
    top: 25%;
    left: 20%;
    width: 40%;
  }
  .hero-banner .intro #welcome {
    margin: 0;
    padding: 0;
    color: #5214E6;
    font-size: 4em;
  }
  .hero-banner .intro #name {
    color: #4CC9F0;
    margin: 0;
    padding: 0;
    font-size: 2em;
  }
  .hero-banner .intro #developer {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
  }
  .hero-banner .background {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-filter: blur(2.5px);
            filter: blur(2.5px);
    background-attachment: fixed;
    z-index: -5;
  }
  .hero-banner .background-rock {
    height: 110%;
    width: 100%;
    position: absolute;
    left: 0;
    top: -5%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -o-object-fit: fill;
       object-fit: fill;
  }
  .hero-banner .background-man {
    height: 105%;
    width: 99%;
    position: absolute;
    left: 0;
    top: -5%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -o-object-fit: fill;
       object-fit: fill;
  }
}

.about-me {
  position: absolute;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: grey;
  z-index: 1;
}
/*# sourceMappingURL=home.css.map */