h1 {
  color: #5214E6;
}

.btn {
  height: 2rem;
  width: 7rem;
  font-size: 16px;
  background-color: #5214E6;
  color: white;
  border-radius: 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.btn:hover {
  cursor: pointer;
  background-color: white;
  color: #5214E6;
}

.btn:hover:active:focus {
  outline: 5px auto #5214E6;
}

.home-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.home-container section {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
}

.hero-banner {
  text-align: left;
}

.hero-banner .intro {
  position: absolute;
  z-index: 2;
  top: 35%;
  left: 15%;
  width: 60%;
  -webkit-transform: translate(0, 5%);
          transform: translate(0, 5%);
}

.hero-banner .intro #welcome {
  margin: 0;
  padding: 0;
  color: #5214E6;
}

.hero-banner .intro #name {
  color: #4CC9F0;
  margin: 0;
  padding: 0;
}

.hero-banner .intro #developer {
  color: white;
  margin: 0;
  padding: 0;
}

.hero-banner .intro .cover-btn {
  margin: 1em auto 0 auto;
}

.hero-banner .overlay {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.4))), -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2)));
  background: linear-gradient(to left bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

.hero-banner .cover-container {
  height: 100vh;
  margin: 0;
}

.hero-banner .background {
  height: 120%;
  width: 100%;
  position: absolute;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.hero-banner .background-rock {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 25%;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero-banner .background-man {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 22%;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero-banner .bottom-blur {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: grey;
  -webkit-filter: blur(30px);
          filter: blur(30px);
}

.about-container {
  background-color: white;
  z-index: 4;
  min-height: 100vh;
  max-height: auto;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-container .blackout {
  position: absolute;
  background-color: black;
  opacity: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
}

.about-container span {
  color: #4CC9F0;
  font-size: 1rem;
  position: relative;
  padding-left: 45px;
}

.about-container span::before {
  content: '';
  display: block;
  background-color: #4CC9F0;
  width: 35px;
  height: 2px;
  position: absolute;
  left: 0;
  top: calc(50% + 2px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.about-container h2 {
  margin-top: 1em;
  color: #5214E6;
}

.about-container p {
  margin-top: 1.8em;
}

.about-container .about-me {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 350px;
          flex: 1 1 350px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.about-container .about-me .about-info {
  width: 60%;
  margin: 0 auto 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-container .skills-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 350px;
          flex: 1 1 350px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.about-container .skills {
  width: 60%;
  margin: 0 auto 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-container .skills .skills-table {
  display: -ms-grid;
  display: grid;
  margin-top: 3em;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.about-container .skills .skills-table ul {
  list-style: none;
}

.about-container .skills .skills-table ul li {
  position: relative;
  margin-top: .5em;
  padding-left: 15px;
}

.about-container .skills .skills-table ul li::before {
  content: '';
  display: block;
  background-color: #5214E6;
  width: 10px;
  height: 2px;
  position: absolute;
  left: 0;
  top: calc(50% + 2px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.projects-container {
  background-color: #6e01c0;
  z-index: 6;
  min-height: auto;
  width: 100vw;
  padding-top: 10vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.projects-container .projects {
  width: 80%;
  height: 100%;
  margin-top: 30vh;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects-container .projects .project-card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 320px;
          flex: 0 1 320px;
  height: 360px;
  margin: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 40% 10%;
      grid-template-rows: 50% 40% 10%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: .5em;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.projects-container .projects .project-card .card-img-cont {
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: .5em;
}

.projects-container .projects .project-card .card-img-cont img {
  height: 100%;
  width: 100%;
  border-radius: .5em .5em 0 0;
}

.projects-container .projects .project-card .card-info {
  padding: .5em;
}

.projects-container .projects .project-card .card-info .card-title {
  color: #6e01c0;
  margin: 0 0 .5em 0;
}

.projects-container .projects .project-card .card-info p {
  color: grey;
}

.projects-container .projects .project-card .card-links {
  padding: 0 0 .5em .5em;
}

.projects-container .projects .project-card .card-links a {
  color: #4CC9F0;
  text-decoration: none;
  font-weight: 620;
}

.projects-container .projects .project-card .card-links .project-link {
  margin: 0 .5em 0 0;
}

.projects-container .projects .project-card .card-links .github-link {
  margin-left: .5em;
}

@media (min-width: 576px) {
  .hero-banner .intro {
    top: 25%;
    left: 15%;
    width: 50%;
  }
  .hero-banner .intro #welcome {
    font-size: 2.5em;
  }
  .hero-banner .intro #name {
    font-size: 2em;
  }
  .hero-banner .intro #developer {
    font-size: 1.5em;
  }
  .hero-banner .background-rock {
    position: absolute;
    left: 0;
    top: 10%;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .hero-banner .background-man {
    position: absolute;
    left: 0;
    top: 10%;
    -o-object-fit: fill;
       object-fit: fill;
  }
}

@media (min-width: 768px) {
  .hero-banner .intro {
    top: 25%;
    left: 15%;
    width: 50%;
  }
  .hero-banner .intro #welcome {
    font-size: 2.5em;
  }
  .hero-banner .intro #name {
    font-size: 2em;
  }
  .hero-banner .intro #developer {
    font-size: 1.5em;
  }
  .hero-banner .background-rock {
    position: absolute;
    left: 0;
    top: 10%;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .hero-banner .background-man {
    position: absolute;
    left: 0;
    top: 10%;
    -o-object-fit: fill;
       object-fit: fill;
  }
}

@media screen and (min-width: 992px) and (max-width: 1399px) {
  .hero-banner .intro {
    top: 30%;
    left: 30%;
    width: 35%;
    -webkit-transform: translate(-30%, -30%);
            transform: translate(-30%, -30%);
  }
  .hero-banner .intro #welcome {
    font-size: 2.5em;
  }
  .hero-banner .intro #name {
    font-size: 2em;
  }
  .hero-banner .intro #developer {
    font-size: 1.5em;
  }
  .hero-banner .background-rock {
    position: absolute;
    left: 0;
    top: 7.5%;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .hero-banner .background-man {
    position: absolute;
    left: 0;
    top: 5%;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .about-container {
    background-color: white;
    z-index: 4;
    min-height: 100vh;
    max-height: auto;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-container span {
    color: #4CC9F0;
    font-size: 1rem;
    position: relative;
    padding-left: 45px;
  }
  .about-container h2 {
    font-size: 36px;
  }
  .about-container p {
    margin-top: .8em;
  }
  .about-container .about-me .about-info {
    width: 55%;
  }
  .about-container .skills-container .skills {
    width: 60%;
    padding-bottom: 10%;
  }
  .about-container .skills-container .skills .skills-table {
    display: -ms-grid;
    display: grid;
  }
  .about-container .skills-container .skills .skills-table ul {
    margin-top: 0;
  }
  .about-container .skills-container .skills .skills-table ul li {
    margin-top: .5em;
    width: 120%;
    padding-left: 20px;
  }
}

@media screen and (min-width: 1400px) {
  .home-container .hero-banner .intro {
    top: 15%;
    left: 15%;
    width: 40%;
    -webkit-transform: translate(15%, 15%);
            transform: translate(15%, 15%);
  }
  .home-container .hero-banner .intro #welcome {
    font-size: 4em;
  }
  .home-container .hero-banner .intro #name {
    font-size: 2em;
  }
  .home-container .hero-banner .intro #developer {
    font-size: 1.5em;
  }
  .home-container .hero-banner .background {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    background-attachment: fixed;
  }
  .home-container .hero-banner .background-rock {
    height: 100%;
    width: 100%;
    left: 0;
    top: 7.5%;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .home-container .hero-banner .background-man {
    height: 100%;
    width: 99%;
    top: 5%;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .about-container span {
    font-size: 1rem;
  }
  .about-container h2 {
    margin-top: .8em;
    font-size: 46px;
  }
  .about-container p {
    margin-top: .8em;
  }
  .about-container .about-me .about-info {
    width: 50%;
  }
  .about-container .skills-container .skills {
    padding-bottom: 5%;
    width: 50%;
  }
  .about-container .skills-container .skills .skills-table {
    display: -ms-grid;
    display: grid;
    margin-top: 1em;
  }
  .about-container .skills-container .skills .skills-table ul {
    margin-top: 2em;
  }
  .about-container .skills-container .skills .skills-table ul li {
    padding-left: 20px;
  }
  .projects-container .projects .project-card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 450px;
            flex: 0 1 450px;
    height: 350px;
    margin: 2em 4em 0 4em;
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
  }
  .projects-container .projects .project-card:hover {
    -ms-grid-rows: 60% 30% 10%;
        grid-template-rows: 60% 30% 10%;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
  }
  .projects-container .projects .project-card:hover .card-img-cont img {
    border-radius: .5rem .5rem 0 0;
  }
  .projects-container .projects .project-card:hover .card-info {
    display: block;
  }
  .projects-container .projects .project-card:hover .card-links {
    display: block;
    padding: 0 0 .5em .5em;
  }
  .projects-container .projects .project-card .card-img-cont {
    margin-bottom: 0;
  }
  .projects-container .projects .project-card .card-img-cont img {
    border-radius: .5rem;
  }
  .projects-container .projects .project-card .card-info {
    display: none;
  }
  .projects-container .projects .project-card .card-links {
    display: none;
    padding: 0;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .home-container .hero-banner .intro {
    top: 20%;
    left: 10%;
    width: 50%;
    -webkit-transform: translate(5%, 15%);
            transform: translate(5%, 15%);
  }
  .home-container .hero-banner .intro #welcome {
    font-size: 3em;
  }
  .home-container .hero-banner .intro #name {
    font-size: 2.5em;
  }
  .home-container .hero-banner .intro #developer {
    font-size: 2em;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .home-container .hero-banner .intro #welcome {
    font-size: 3em;
  }
  .home-container .hero-banner .intro #name {
    font-size: 2.5em;
  }
  .home-container .hero-banner .intro #developer {
    font-size: 2em;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .home-container .hero-banner .intro {
    top: 30%;
    left: 10%;
    width: 50%;
    -webkit-transform: translate(10%, 0);
            transform: translate(10%, 0);
  }
  .home-container .hero-banner .intro #welcome {
    font-size: 3.3em;
  }
  .home-container .hero-banner .intro #name {
    font-size: 2.8em;
  }
  .home-container .hero-banner .intro #developer {
    font-size: 2.3em;
  }
  .home-container .hero-banner .background {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    background-attachment: fixed;
  }
  .home-container .hero-banner .background-rock {
    height: 80%;
    width: 100%;
    left: 0;
    top: 24%;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .home-container .hero-banner .background-man {
    height: 80%;
    width: 99%;
    top: 22.5%;
    -o-object-fit: fill;
       object-fit: fill;
  }
}
/*# sourceMappingURL=home.css.map */