.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container section {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
}

.hero-banner {
  text-align: left;
}

.hero-banner .intro {
  position: absolute;
  z-index: 2;
  top: 35%;
  left: 15%;
  width: 60%;
  -webkit-transform: translate(0, 5%);
          transform: translate(0, 5%);
}

.hero-banner .intro #welcome {
  margin: 0;
  padding: 0;
  color: #5214E6;
}

.hero-banner .intro #name {
  color: #4CC9F0;
  margin: 0;
  padding: 0;
}

.hero-banner .intro #developer {
  color: white;
  margin: 0;
  padding: 0;
}

.hero-banner .overlay {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.4))), -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2)));
  background: linear-gradient(to left bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

.hero-banner .cover-container {
  height: 100vh;
  margin: 0;
}

.hero-banner .background {
  height: 120%;
  width: 100%;
  position: absolute;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.hero-banner .background-rock {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 25%;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero-banner .background-man {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 22%;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero-banner .bottom-blur {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: grey;
  -webkit-filter: blur(30px);
          filter: blur(30px);
}

.about-me {
  background-color: grey;
  z-index: 4;
}

.projects {
  background-color: turquoise;
  z-index: 5;
}

@media (min-width: 576px) {
  .hero-banner .intro {
    top: 25%;
    left: 15%;
    width: 50%;
  }
  .hero-banner .intro #welcome {
    font-size: 2.5em;
  }
  .hero-banner .intro #name {
    font-size: 2em;
  }
  .hero-banner .intro #developer {
    font-size: 1.5em;
  }
  .hero-banner .background-rock {
    position: absolute;
    left: 0;
    top: 10%;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .hero-banner .background-man {
    position: absolute;
    left: 0;
    top: 10%;
    -o-object-fit: fill;
       object-fit: fill;
  }
}

@media (min-width: 768px) {
  .hero-banner .intro {
    top: 25%;
    left: 15%;
    width: 50%;
  }
  .hero-banner .intro #welcome {
    font-size: 2.5em;
  }
  .hero-banner .intro #name {
    font-size: 2em;
  }
  .hero-banner .intro #developer {
    font-size: 1.5em;
  }
  .hero-banner .background-rock {
    position: absolute;
    left: 0;
    top: 10%;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .hero-banner .background-man {
    position: absolute;
    left: 0;
    top: 10%;
    -o-object-fit: fill;
       object-fit: fill;
  }
}

@media screen and (min-width: 992px) and (max-width: 1399px) {
  .hero-banner .intro {
    top: 30%;
    left: 30%;
    width: 35%;
    -webkit-transform: translate(-30%, -30%);
            transform: translate(-30%, -30%);
  }
  .hero-banner .intro #welcome {
    font-size: 2.5em;
  }
  .hero-banner .intro #name {
    font-size: 2em;
  }
  .hero-banner .intro #developer {
    font-size: 1.5em;
  }
  .hero-banner .background-rock {
    position: absolute;
    left: 0;
    top: 7.5%;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .hero-banner .background-man {
    position: absolute;
    left: 0;
    top: 5%;
    -o-object-fit: fill;
       object-fit: fill;
  }
}

@media screen and (min-width: 1400px) {
  .container .hero-banner .intro {
    top: 15%;
    left: 15%;
    width: 40%;
    -webkit-transform: translate(15%, 15%);
            transform: translate(15%, 15%);
  }
  .container .hero-banner .intro #welcome {
    font-size: 4em;
  }
  .container .hero-banner .intro #name {
    font-size: 2em;
  }
  .container .hero-banner .intro #developer {
    font-size: 1.5em;
  }
  .container .hero-banner .background {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    background-attachment: fixed;
  }
  .container .hero-banner .background-rock {
    height: 100%;
    width: 100%;
    left: 0;
    top: 7.5%;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .container .hero-banner .background-man {
    height: 100%;
    width: 99%;
    top: 5%;
    -o-object-fit: fill;
       object-fit: fill;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .container .hero-banner .intro {
    top: 20%;
    left: 10%;
    width: 50%;
    -webkit-transform: translate(5%, 15%);
            transform: translate(5%, 15%);
  }
  .container .hero-banner .intro #welcome {
    font-size: 3em;
  }
  .container .hero-banner .intro #name {
    font-size: 2.5em;
  }
  .container .hero-banner .intro #developer {
    font-size: 2em;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .container .hero-banner .intro #welcome {
    font-size: 3em;
  }
  .container .hero-banner .intro #name {
    font-size: 2.5em;
  }
  .container .hero-banner .intro #developer {
    font-size: 2em;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .container .hero-banner .intro {
    top: 30%;
    left: 10%;
    width: 50%;
    -webkit-transform: translate(10%, 0);
            transform: translate(10%, 0);
  }
  .container .hero-banner .intro #welcome {
    font-size: 3.3em;
  }
  .container .hero-banner .intro #name {
    font-size: 2.8em;
  }
  .container .hero-banner .intro #developer {
    font-size: 2.3em;
  }
  .container .hero-banner .background {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    background-attachment: fixed;
  }
  .container .hero-banner .background-rock {
    height: 80%;
    width: 100%;
    left: 0;
    top: 24%;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .container .hero-banner .background-man {
    height: 80%;
    width: 99%;
    top: 22.5%;
    -o-object-fit: fill;
       object-fit: fill;
  }
}
/*# sourceMappingURL=home.css.map */