$primary: #5214E6;
$secondary:#4CC9F0;
$tertiary: #6e01c0;

h1{
    color: #5214E6;
}
.container{
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    section{
        height: 100%;
		width: 100%;
		position: absolute;
        margin: 0;
        padding: 0;
        
    }
}
.hero-banner{
    text-align: left;
    .intro{
        position: absolute;
        z-index: 2;
        top: 35%;
        left: 15%;
        width:60%;
        transform: translate(0,5%);
        #welcome{
            margin: 0;
            padding: 0;
            color: #5214E6;
        }
        #name{
            color: #4CC9F0;
            margin: 0;
            padding: 0;
        }
        #developer{
            color: white;
            margin: 0;
            padding: 0;
        }
    }
    .overlay{
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to left bottom, rgba(0,0,0,0), rgba(0,0,0, .4)),
                    linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,.2));
    }
    .cover-container{
        height: 100vh;
        margin: 0;
    }
    .background{
        height: 120%;
        width: 100%;
        position: absolute;
        left: 0;
        object-fit: cover;
        filter: blur(1px);
    }
    .background-rock{
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 25%;
        object-fit: contain;
    }
    .background-man{
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 22%;
        object-fit: contain;
    }
    .bottom-blur{
        height: 5%;
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: grey;
        filter: blur(30px);
    }
}
// ABOUT ME
.about-container{
    background-color: white;
    z-index: 4;
    min-height: 100vh;
    max-height: auto;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    span{
        color: $secondary;
        font-size: 1rem;
        position: relative;
        padding-left: 45px;
        
        &::before{
            content: '';
            display: block;
            background-color: $secondary;
            width: 35px;
            height: 2px;
            position: absolute;
            left: 0;
            top: calc(50% + 2px);
            transform: translateY(-50%);
        }
    }
    h2{
        margin-top: 1em;
        color: $primary;
    }
    p{
        margin-top: 1.8em;
    }
    .about-me{
        flex: 1 1 350px;
        display: grid;
        place-items: center;
        .about-info{
            width: 60%;
            margin: 0 auto 0 auto;
            justify-content: center;
            align-items: center;
        }
    }
    .skills-container{
        flex: 1 1 350px;
        display: grid;
        place-items: center;
    }
    .skills{
        width: 60%;
        margin: 0 auto 0 auto;
        justify-content: center;
        padding-bottom: 10%;
        align-items: center;
        .skills-table{
            display: grid;
            margin-top: 3em;
            grid-template-columns: 1fr 1fr;
            ul{
                list-style: none;
            }
        }
    }
}

// PROJECTS
.projects-container{
    background-color: turquoise;
    z-index: 5;
    height: 120vh;
    max-height: auto;
    width: 100vw;
    padding-top: 10vh;
}

@media (min-width: 576px) { 
    .hero-banner{
        .intro{
            top: 25%;
            left: 15%;
            width: 50%;
            #welcome{
                font-size: 2.5em;
            }
            #name{
                font-size: 2em;
            }
            #developer{
                font-size: 1.5em;
            }
        }
        .background-rock{
            position: absolute;
            left: 0;
            top: 10%;
            object-fit: fill;
        }
        .background-man{
            position: absolute;
            left: 0;
            top: 10%;
            object-fit: fill;
        }
    }
 }
@media (min-width: 768px) { 
    .hero-banner{
        .intro{
            top: 25%;
            left: 15%;
            width: 50%;
            #welcome{
                font-size: 2.5em;
            }
            #name{
                font-size: 2em;
            }
            #developer{
                font-size: 1.5em;
            }
        }
        .background-rock{
            position: absolute;
            left: 0;
            top: 10%;
            object-fit: fill;
        }
        .background-man{
            position: absolute;
            left: 0;
            top: 10%;
            object-fit: fill;
        }
    }
 }
@media screen and (min-width:992px) and (max-width: 1399px){
    .hero-banner{
        .intro{
            top: 30%;
            left: 30%;
            width: 35%;
            transform: translate(-30%, -30%);
            #welcome{
                font-size: 2.5em;
            }
            #name{
                font-size: 2em;
            }
            #developer{
                font-size: 1.5em;
            }
        }
        .background-rock{
            position: absolute;
            left: 0;
            top: 7.5%;
            object-fit: fill;
        }
        .background-man{
            position: absolute;
            left: 0;
            top: 5%;
            object-fit: fill;
        }
    }
    .about-container{
        background-color: white;
        z-index: 4;
        min-height: 100vh;
        max-height: auto;
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        span{
            color: $secondary;
            font-size: 1rem;
            position: relative;
            padding-left: 45px;
        }
        h2{
            font-size: 36px;
        }
        p{
            margin-top: .8em;
        }
        .about-me{
            .about-info{
                width: 55%;
            }
        }
        .skills-container{
            .skills{
                width: 50%;
                padding-bottom: 20%;
                .skills-table{
                    display: grid;
                    ul{
                        list-style: none;
                    }
                }
            }
    }   
    }
}
@media screen and (min-width:1400px){
    .container{
        .hero-banner{
            .intro{
                top: 15%;
                left: 15%;
                width: 40%;
                transform: translate(15%,15%);
                #welcome{
                    font-size: 4em;
                }
                #name{
                    font-size: 2em;
                }
                #developer{
                    font-size: 1.5em;
                }
            }
            .background{
                height: 100%;
                width: 100%;
                object-fit: cover;
                background-attachment: fixed;
            }
            .background-rock{
                height: 100%;
                width: 100%;
                left: 0;
                top: 7.5%;
                object-fit: fill;
            }
            .background-man{
                height: 100%;
                width: 99%;
                top: 5%;
                object-fit: fill;
            }
        }
    }
    // ABOUT ME
    .about-container{
        span{
            font-size: 1rem;
        }
        h2{
            margin-top: .8em;
            font-size: 46px;
        }
        p{
            margin-top: .8em;
        }
        .about-me{
            .about-info{
                width: 50%;
            }
        }
        .skills-container{
            .skills{
                padding-bottom: 5%;
                width: 50%;
                .skills-table{
                    display: grid;
                    margin-top: 1em;
                }
            }
        }
    }
}
// IPAD
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .container{
        .hero-banner{
            .intro{
                top: 20%;
                left: 10%;
                width: 50%;
                transform: translate(5%,15%);
                #welcome{
                    font-size: 3em;
                }
                #name{
                    font-size: 2.5em;
                }
                #developer{
                    font-size: 2em;
                }
            }
        }
    }
}

// IPAD LANDSCAPE
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .container{
        .hero-banner{
            .intro{
                #welcome{
                    font-size: 3em;
                }
                #name{
                    font-size: 2.5em;
                }
                #developer{
                    font-size: 2em;
                }
            }
        }
    }
}
// IPAD PRO PORTRAIT
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .container{
        .hero-banner{
            .intro{
                top: 30%;
                left: 10%;
                width: 50%;
                transform: translate(10%,0);
                #welcome{
                    font-size: 3.3em;
                }
                #name{
                    font-size: 2.8em;
                }
                #developer{
                    font-size: 2.3em;
                }
            }
            .background{
                height: 100%;
                width: 100%;
                object-fit: cover;
                background-attachment: fixed;
            }
            .background-rock{
                height: 80%;
                width: 100%;
                left: 0;
                top: 24%;
                object-fit: fill;
            }
            .background-man{
                height: 80%;
                width: 99%;
                top: 22.5%;
                object-fit: fill;
            }
        }
    }

}

// IPAD PRO LANDSCAPE

@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}


// PROJECTS